# Dependencies
node_modules/
dist/
frontend/out/
frontend/release/

# IDE
.idea/
.vscode/
*.iml

# Java
backend/**/target/
backend/.mvn/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Logs
*.log
